node_modules
.env*
.git
.gitignore
.github
.dockerignore
docker
docker-compose*
coverage
.turbo
.vscode
logs
*.log
npm-debug.log
README.md
.DS_Store
.DS_Store?
.next
out/
dist/
/public/build
/build
/tmp
/.cache
/certs
LICENSE
.editorconfig
*.md
.idea