engine-strict=true
use-node-version=20.0.0
auto-install-peers = true
strict-peer-dependencies=false
prefer-workspace-packages = true
link-workspace-packages=false
# fetch-retry-maxtimeout = 6000000
# fetch-retry-mintimeout = 1000000